streamlit
pandas
numpy
scikit-learn
xgboost
matplotlib
plotly
joblib
reportlab
Pillow
pdfplumber
groq
python-dotenv
streamlit-option-menu
streamlit-mic-recorder
edge-tts
pypdfium2
opencv-python-headless
